<section class="p-10">
    <h1 class="text-center font-semibold text-2xl text-gray-800">{{ section.settings.collection_list_title}}</h1>

    <div class="grid grid-cols-3 px-10 mt-5">
        {% for collection in collections %}
            {% if collection.all_products_count > 0 %}
                <div class="m-5 flex flex-col border overflow-hidden">
                    <a href="{{ collection.url }}">
                        {% if collection.featured_image != blank %}

                            {% assign collection_image = collection.featured_image %}

                            {% else %}
                                {% assign collection_image = collection.products.first.image %}
                        {% endif %}

                        <img  class="size-[200px] mx-auto transition duration-1000 object-cover ease-in-out hover:scale-105 transform" src="{{collection_image | img_url : "medium"}}" alt="" height="auto" width="auto">
    
                    </a>
    
                    <p class="mt-10 text-center text-gray-700 text-lg">{{ collection.title }}</p>
                </div>
            {% endif %}
          
            
        {% endfor %}
    </div>
</section>








{% schema %}
    {
        "settings": [
            {
            "type": "text",
            "id": "collection_list_title",
            "default": "Collection List",
            "label": "Title"
            }
        ]
    }
{% endschema %}